.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid lightgray;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: whitesmoke;

    .left {
        display: flex;
        align-items: center;
        gap: 30px;

        span {
            font-weight: bold;
            font-size: 30px;
            color: red;
        }

        .search {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            padding: 5px;

            input {
                border: none;
                width: 500px;
                background-color: transparent;
            }
        }

        .upload{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid lightgray;
            background-color: rgb(237, 84, 84);
            gap: 20px;
            color: white;
            flex: 1;
            border-radius: 15px;
            label{
                padding: 5px 0px 5px 15px;
                font-weight: bold;
                font-size: large;
                text-align: center;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                text-decoration: none;
                color: white;
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 20px;

        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500;

            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
}